<div class="product_area">
  <h2>PRODUCT</h2>
  <a href="/bbs/board.php?tbl=journals" class="btn_more"><img src="/images/btn_more.png" alt="PRODUCT 더보기" /></a>
  <ul class="product_list clfix">
<% for (var i = 0; i < data_product.length; i++) { %>
<% if(i>2) {break;} %>
<li>
<a href="/bbs/board.php?tbl=journals">
<span class="btn_more_cont">MORE &gt;</span>
<dl>
  <dt><%= data_product[i].productName %> | <%= data_product[i].category1 %> > <%= data_product[i].category2 %></dt>
  <dd><img src='<%= data_product[i].img %>' width='254' height='168' ></dd>
  <dd style="word-break:break-all;">
    <%= data_product.content %>
  </dd>
</dl>
</a>
</li>
<% } %>
</ul>
</div><!--// product_area -->
